<h1>Forgot Password </h1>
<form action="/users/forget_passwordEmailSec" method="POST"> 
    <input type="email" name="email" placeholder="please confirm yout email" required>
      <input type="Submit" value="submit">
</form>
