<link rel="stylesheet" href="<%= assetPath('CSS/forget_pass.css')%>">

<div id="forgor-pass-outer">
    <div id="forgor-pass">
        <h2> Reset Password </h2>
        <% if(locals.isValid){%>
        <form action="/users/forget_updata_password/?reset_email=<%= locals.userDetaislpass.user.email %>" method="POST"> 
            <label for="password">
                New Password
            </label>
            <input id="password" type="password" name="password" placeholder="Enter New Password" required>
            <label for="cnfpassword">
                Confirm Password
            </label>
            <input id="cnfpassword" type="password" name="cnfpassword" placeholder="Confirm Your Password" required>
            <input id="submit" type="Submit" value="Submit">
            <!-- <%= locals.userDetaislpass %> -->
        </form>
        <% } else { %>
            <div class="password-expired">
                <h3>Token Has Expired !!</h3>
                <h3>Please Try Again !!</h3>
            </div>
        <% } %>
    </div>
</div>
