<link rel="stylesheet" href="<%= assetPath('CSS/forgotPasswordEmailPage.css')%>">

<div id="forgor-pass-email-page-outer">
  <div id="forgor-pass-email-page">
    <h2>Forgot Password </h2>
    <form action="/users/forget_passwordEmailSec" method="POST"> 
        <label for="email">Email</label>
        <input id="email" type="email" name="email" placeholder="Please Enter Your Email" required>
        <input id="submit" type="Submit" value="Submit">
    </form>
  </div>
</div>
