<div>
    <p>Hi <strong><%= userName%></strong>, </p>
    <p><a href="http://52.200.39.191/users/reset_password/?access_token=<%= resetpassobj.accessToken %>">Click Here</a> To Reset Your Password</p>
</div>