#user-chat-box-minimized {
  position: fixed;
  bottom: 9vh;
  right: 2vw;
  border: 1px solid grey;
  border-radius: 25px;
  height: 3 vh;
  width: 40vw;
  max-width: 300px;
  padding: 5px;
  background-color: white; }
  #user-chat-box-minimized .chat-header {
    display: flex;
    padding: 1vh 5vw;
    justify-content: space-between;
    align-items: center;
    height: 3vh;
    font-weight: 900;
    font-size: 2.5vh; }
    #user-chat-box-minimized .chat-header .minimize-maximize-icon i {
      font-size: 1.8rem;
      cursor: pointer; }
  #user-chat-box-minimized hr {
    display: none; }
  #user-chat-box-minimized #chat-messages-list {
    display: none; }
  #user-chat-box-minimized #chat-message-input-container {
    display: none; }

#user-chat-box-maximized {
  position: fixed;
  bottom: 9vh;
  right: 2vw;
  border: 1px solid grey;
  border-radius: 25px;
  height: 45 vh;
  width: 40vw;
  max-width: 300px;
  padding: 5px;
  background-color: white; }
  #user-chat-box-maximized .chat-header {
    display: flex;
    padding: 1vh 5vw;
    justify-content: space-between;
    align-items: center;
    height: 3vh;
    font-weight: 900;
    font-size: 2.5vh; }
    #user-chat-box-maximized .chat-header .minimize-maximize-icon i {
      font-size: 1.8rem;
      cursor: pointer; }
  #user-chat-box-maximized hr {
    margin: 0px; }
  #user-chat-box-maximized #chat-messages-list {
    list-style: none;
    margin: 1vh 1vw;
    padding: 0px;
    height: 31vh;
    background-color: white;
    overflow: scroll;
    font-size: 2vh; }
    #user-chat-box-maximized #chat-messages-list .other-message {
      text-align: left; }
      #user-chat-box-maximized #chat-messages-list .other-message span {
        display: inline-block;
        padding: 15px;
        background-color: #ffa0a0;
        border-radius: 15px; }
    #user-chat-box-maximized #chat-messages-list .self-message {
      text-align: right;
      padding: 5px; }
      #user-chat-box-maximized #chat-messages-list .self-message span {
        display: inline-block;
        padding: 15px;
        background-color: #a0dcff;
        border-radius: 15px; }
  #user-chat-box-maximized #chat-message-input-container {
    height: 7vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    #user-chat-box-maximized #chat-message-input-container #chat-message-input {
      padding: 0.5vh 1.5vw;
      height: 70%;
      width: 80%;
      border-radius: 25px;
      font-size: 2vh; }
    #user-chat-box-maximized #chat-message-input-container #send-message {
      height: 80%;
      width: 20%;
      font-size: 25px;
      color: white;
      border: none;
      background-color: transparent; }
      #user-chat-box-maximized #chat-message-input-container #send-message i {
        color: #3042e2; }
