#footer {
  display: flex;
  justify-content: start;
  align-items: center;
  color: white;
  height: 7.5vh;
  padding-left: 10px; }

#right-footer ul {
  margin: 0; }

#right-footer ul a {
  color: white;
  text-decoration: none; }
