#forgor-pass-email-page-outer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh; }
  #forgor-pass-email-page-outer #forgor-pass-email-page {
    background-color: white;
    height: 400px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px; }
    #forgor-pass-email-page-outer #forgor-pass-email-page h2 {
      color: black;
      height: 30px;
      font-size: 2.7rem; }
    #forgor-pass-email-page-outer #forgor-pass-email-page form {
      height: 270px;
      width: 300px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly; }
      #forgor-pass-email-page-outer #forgor-pass-email-page form label {
        color: black; }
      #forgor-pass-email-page-outer #forgor-pass-email-page form input {
        display: block;
        border-radius: 15px;
        margin: 0px;
        padding: 1vh 2vw;
        font-size: 1.3rem; }
      #forgor-pass-email-page-outer #forgor-pass-email-page form #email {
        height: 30px; }
      #forgor-pass-email-page-outer #forgor-pass-email-page form #submit {
        height: 50px;
        background-color: #ef7917;
        color: white;
        cursor: pointer; }
