#home-container {
  display: flex;
  min-height: 85vh; }
  #home-container #left-corner {
    width: 25%;
    padding: 1%;
    font-size: 2rem;
    margin-top: 4vh; }
    #home-container #left-corner h4 {
      margin: 0px;
      text-align: center; }
  #home-container #feed-posts {
    width: 47%;
    padding: 1%;
    border-left: 1px solid lightgray; }
    #home-container #feed-posts h4 {
      text-align: center;
      font-size: 2rem;
      margin-top: 4vh; }
    #home-container #feed-posts textarea {
      font-size: 1.5rem;
      height: 10vh;
      width: 96%;
      border-radius: 15px;
      padding: 5px; }
    #home-container #feed-posts input {
      font-size: 1.3rem;
      width: 100%;
      height: 30px;
      border-radius: 15px; }
    #home-container #feed-posts #posts-list-container ol {
      list-style: none;
      padding: 5px;
      font-size: 1.3rem; }
      #home-container #feed-posts #posts-list-container ol li {
        margin: 10px 0px;
        border: 1px solid black;
        padding: 5px; }
        #home-container #feed-posts #posts-list-container ol li .post-comments form {
          display: flex;
          justify-content: space-evenly; }
          #home-container #feed-posts #posts-list-container ol li .post-comments form .type-comment {
            width: 75% !important;
            padding: 0px 6px !important; }
          #home-container #feed-posts #posts-list-container ol li .post-comments form .hidden-comment {
            position: absolute; }
          #home-container #feed-posts #posts-list-container ol li .post-comments form .comment-add-button {
            width: 20%;
            height: 33px; }
        #home-container #feed-posts #posts-list-container ol li .post-comments-list ul {
          padding: 0px;
          list-style: none; }
  #home-container #user-friends {
    width: 25%;
    padding: 1%;
    border-left: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
    #home-container #user-friends div {
      width: 90%;
      height: 40vh;
      border: 1px solid black;
      border-radius: 15px;
      text-align: center;
      overflow: hidden;
      background-color: white; }
      #home-container #user-friends div h2 {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 5vh;
        margin: 2vh 0px;
        font-size: 2rem; }
      #home-container #user-friends div div {
        height: 29vh;
        width: 100%;
        overflow: scroll;
        border: none;
        font-size: 1.5rem; }
