#home-container {
  display: flex;
  min-height: 85vh; }
  #home-container #left-corner {
    width: 25%;
    padding: 1%;
    font-size: 2rem; }
    #home-container #left-corner h4 {
      margin: 0px;
      text-align: center; }
  #home-container #feed-posts {
    width: 47%;
    padding: 1%;
    margin: 1%;
    margin-bottom: 2vh;
    border: 1px solid black;
    border-radius: 25px;
    background-color: white; }
    #home-container #feed-posts h4 {
      text-align: center;
      font-size: 2rem;
      margin-top: 2vh; }
    #home-container #feed-posts textarea {
      font-size: 1.5rem;
      height: 10vh;
      width: 96%;
      border-radius: 15px;
      padding: 5px; }
    #home-container #feed-posts input {
      font-size: 1.3rem;
      width: 100%;
      height: 30px;
      border-radius: 10px;
      background-color: #ef7917;
      color: white; }
    #home-container #feed-posts .post-add-button {
      cursor: pointer; }
    #home-container #feed-posts #posts-list-container ol {
      list-style: none;
      padding: 5px;
      font-size: 1.3rem;
      margin: 0px; }
      #home-container #feed-posts #posts-list-container ol li {
        margin: 30px 0px;
        border: 1px solid black;
        border-radius: 5px;
        padding: 10px;
        background-color: #eceffa; }
        #home-container #feed-posts #posts-list-container ol li small .toggle-like-button {
          text-decoration: none; }
          #home-container #feed-posts #posts-list-container ol li small .toggle-like-button .liked-button {
            color: #3b57bb; }
        #home-container #feed-posts #posts-list-container ol li .post-comments form {
          display: flex;
          justify-content: space-evenly; }
          #home-container #feed-posts #posts-list-container ol li .post-comments form .type-comment {
            width: 70% !important;
            padding: 0px 6px !important;
            background-color: white; }
          #home-container #feed-posts #posts-list-container ol li .post-comments form .hidden-comment {
            position: absolute; }
          #home-container #feed-posts #posts-list-container ol li .post-comments form .comment-add-button {
            width: 20%;
            height: 33px;
            cursor: pointer; }
        #home-container #feed-posts #posts-list-container ol li .post-comments-list ul {
          padding: 0px;
          list-style: none; }
          #home-container #feed-posts #posts-list-container ol li .post-comments-list ul li {
            background-color: white; }
  #home-container .user-friends, #home-container #left-corner {
    width: 25%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    #home-container .user-friends div, #home-container #left-corner div {
      width: 90%;
      height: 99%;
      border: 1px solid black;
      border-radius: 15px;
      text-align: center;
      overflow: hidden;
      background-color: white;
      margin-bottom: 1vh; }
      #home-container .user-friends div h2, #home-container #left-corner div h2 {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 5vh;
        margin: 2vh 0px;
        font-size: 2rem; }
      #home-container .user-friends div div, #home-container #left-corner div div {
        width: 100%;
        overflow: scroll;
        border: none;
        font-size: 1.5rem; }
        #home-container .user-friends div div a, #home-container #left-corner div div a {
          text-decoration: none;
          color: black; }
