body {
  color: white; }

img {
  position: fixed; }

main {
  display: flex; }
  main #left-side, main #right-side {
    width: 50vw; }
  main #right-side {
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem; }
    main #right-side h2 {
      margin-top: 15vh;
      margin-bottom: 8vh;
      text-decoration: underline; }
    main #right-side form p {
      margin: 1vh; }
    main #right-side form input {
      border: 1px solid white;
      border-radius: 10px;
      padding: 5px;
      outline: none;
      background: #c4aeec;
      color: none;
      width: 80%;
      font-size: 1.5rem; }
    main #right-side form .sign-in-button {
      display: flex;
      flex-direction: column;
      display: inline-block; }
      main #right-side form .sign-in-button button {
        width: 150px;
        cursor: pointer;
        padding: 10px;
        color: white;
        border-radius: 20px;
        border: 1px solid white;
        font-size: 1.5rem;
        background: linear-gradient(to top right, #2887a4, #fd6eff);
        background-opacity: 0.5; }
        main #right-side form .sign-in-button button a {
          color: white;
          text-decoration: none; }
    main #right-side form div {
      margin-bottom: 4vh; }
    main #right-side form #forgot-password a {
      color: white;
      text-decoration: none; }
